body {
	width: 1022px;
	margin: 0px auto;
	font-family: Georgia, 'Times New Roman', serif;
	background-color: #000000;
	color: #FFFFFF;
}
h1, h2 {
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
}
h1 {
	margin-top: 30px;
}
h2 {
	margin-bottom: 68px;
}
h4 {
	text-decoration: underline;
}

#top {
	background: url('top.jpg') no-repeat;
	height: 221px;
	box-shadow: 0 0 6px 6px black inset;
}
.certificate {
    float: left;
    margin: 20px 46px 34px;
    width: 200px;
}
.certificate a:link {outline-style: none;}
.certificate a:visited {outline-style: none;}
.certificate a:active {outline-style: none;}
.certificate a:hover {outline-style: none;}

img {
border: 1px solid black;
}
.navigation 
{
	color: #ffffff;
	background-color: #000000;
}
.navigation ul
{
	list-style-type: none;
	background-image: url('bcg.jpg');
	height: 26px;
	margin: 0;
	padding: 0 0 0 190px;
	box-shadow: 0 0 8px 1px black inset;

}
.navigation  li
{
	float:left;
	background-image: url('divider.jpg');
	background-repeat: no-repeat;
	background-position: right;
	height: 26px;
}
.navigation a
{
	padding-right: 32px;
	padding-left: 32px;
	line-height: 26px;
	color: white;
	text-decoration: none;
}
.navigation a:link {outline-style: none;}
.navigation a:visited {outline-style: none;}
.navigation a:active {outline-style: none;}
.navigation a:hover {color: #7ECCFC;}

#main {
	background-color: #FFFFFF;
	overflow: hidden;
	box-shadow: 0px 0px 6px 6px black inset;
	color: #000000;
}

#linklist, #cik {
	width: 215px;
	margin: 23px 0px 0px 11px; 
}

#linklist ul {
	padding:15px 5px 15px 10px;
	margin: 0;
	list-style: none;
	font-weight: bold;
	font-family: 'Times New Roman', serif;
}

#linklist ul li ul{
	margin: 0px;
	font-size: 14px;
	list-style:disc;
	padding: 0 0 0 30px;
}

#linklist ul a {
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	font-weight: normal;
}
#linklist ul a:link {
	outline-style: none;
}
#linklist ul a:visited {
	outline-style: none;
}
#linklist ul a:active {
	outline-style: none;
}
#linklist ul a:hover {
	text-decoration: underline;
}
#addition {
	float: right;
	width: 20%;
}

#content0 {
	float: right;
	padding: 10px 30px 50px;
	width: 730px;
}

#content {
	padding: 32px 65px 60px;
}
#content p{
	width: 349px;	
}

#info  ul , #content ul{
	margin-top: 5px;
	padding-left: 20px;
	list-style: disc;
}

#email {
text-decoration: none;
}

#footer {
	clear: both;
	width: 1022px;
	background-color: black;
	color: white;
	text-align:center;
	white-space: wrap;
}

#map {
	text-align:right;
	float: right;
}
#map iframe {
	border:thin inset;
	}

.strips
{
	font-size: 15px;
	margin: 5px 44px;
	width: 780px;
	text-align: left;
	border-collapse: collapse;
}

.strips td
{
	padding: 3px;
}

.strips tr
{
	padding: 30px;
}

.strips .odd{
	background-color: #FCEFEB;
	color: #000000;
}

.strips .col2{
text-align: right;
}


caption{
	font-weight: bold;
	font-size: larger;
	margin: 10px -41px 5px;
	text-align: left;
}

tbody {
padding-left: 300px;
}
